<div class='span-5 wishlist-sidebar-list'>
      <h2>Lists</h2>
      <ul>
        <% @lists.each do |list| %>
		  <li><%= link_to list.name, list_path(list), class: ("active" if list.id.to_s == params[:id]) %>
        <% end %>
        <li class="add"><%= link_to "Add a list", new_list_path %></li>
      </ul>
	 </div>