  <div class='list-index-content container'>
    <div class='span-5 wishlist-sidebar-list'>
      <h2>Lists</h2>
      <ul>
        <% @lists.each do |list| %>
		  <li><%= link_to list.name, "/lists/#{list.id}" %>
        <% end %>
        <li class="add"><a href="/lists/new">Add a list</a></li>
      </ul>
	 </div>
	  <div class="span-14 welcome">
		<h1>Welcome!</h1>
		<h5>Go ahead, start adding lists</h5>
		<%= image_tag 'left-arrow.png' %>
    </div>
  </div>