<div class='new-wishlist-content container'>
  <div class='push-5 span-14'>
    <h1>New List</h1>
    <h5>Go ahead, add your list</h5>
 
    <%= form_for @list, url: lists_path do |f| %>
      <div class='field full'>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
 
      <div class='actions clear'>
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>