<div class='header-content'>
  <div class='left'>
    <a href='/lists'><%= image_tag('birdhouse-with-text.png') %></a>
  </div>
 
  <div class='right authentication'>
    <div class='profile'>
      <div class='left'>
        <a href='/account'><%= image_tag('empty-profile.png') %></a>
      </div>
      <div class='left profile-name'>
        <a href='/account'>Johnny Appleseed</a>
        <div class='signout'><a href="signout">Sign Out</a></div>
      </div>
    </div>
  </div>
</div>